/* line 9, ../scss/styles.scss */
#spacer {
  height: 158px;
  display: block;
}

/* line 13, ../scss/styles.scss */
p, .entry-content ol, .entry-content ul {
  line-height: 125%;
  font-size: 20px;
}

/* line 18, ../scss/styles.scss */
.row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 24, ../scss/styles.scss */
.row .col {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0 1em;
}

/* line 37, ../scss/styles.scss */
.site-header.shrink {
  border-bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
/* line 42, ../scss/styles.scss */
.site-header.shrink .site-header-main .site-inner {
  padding: 0px;
}
/* line 58, ../scss/styles.scss */
.site-header.shrink img.site-title {
  height: 90px;
}
/* line 76, ../scss/styles.scss */
.site-header.fixed {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 85, ../scss/styles.scss */
.site-header .site-header-main .site-inner {
  padding: 5px 0px;
  transition: .4s all;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -ms-flex-align: center;
}
/* line 95, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next {
  flex: auto;
  text-align: left;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 103, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .site-header-menu {
  align-self: flex-end;
  -ms-flex-item-align: end;
  padding-left: 3em;
}
/* line 111, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .site-header-menu nav .menu-main-container .primary-menu li a {
  font-weight: 600;
  font-size: 1.2em;
}
/* line 114, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .site-header-menu nav .menu-main-container .primary-menu li a:after {
  top: 1.2em;
}
/* line 120, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .site-header-menu nav .menu-main-container .primary-menu li ul.sub-menu li a {
  font-size: .95em;
  font-weight: 400;
}
/* line 131, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right {
  flex: auto;
  text-align: right;
  align-self: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-item-align: end;
  align-items: flex-end;
  justify-content: center;
}
/* line 145, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right span.phone {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
}
/* line 149, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right span.phone a {
  color: #d95b44;
}
/* line 151, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right span.phone a:hover {
  color: #278bdf;
}
/* line 155, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right span.phone .sep {
  margin: 0px 8px;
  font-weight: 600;
  font-size: 1.3em;
}
/* line 161, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right a.button {
  display: inline-block;
  background: rgba(65, 75, 82, 0.7);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 8px #414b52;
}
/* line 166, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right a.button:hover {
  background: #414b52;
}
/* line 170, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right #header-search-form {
  position: absolute;
  display: none;
  width: 350px;
  padding: 20px;
  top: 124px;
  right: 0;
  z-index: 9999;
}
/* line 178, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right #header-search-form form {
  text-align: left;
}
/* line 188, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right .social-navigation .site-inner .menu-social-container .social-links-menu li a[href*="linkedin.com"]:before {
  font-size: 23px;
  color: #0177B5;
}
/* line 194, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right .social-navigation .site-inner .menu-social-container .social-links-menu li a[href*="facebook.com"]:before {
  font-size: 23px;
  color: #4867AA;
}
/* line 200, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right .social-navigation .site-inner .menu-social-container .social-links-menu li a[href*="twitter.com"]:before {
  font-size: 23px;
  color: #1DA1F2;
}
/* line 206, ../scss/styles.scss */
.site-header .site-header-main .site-inner .next .header-right .social-navigation .site-inner .menu-social-container .social-links-menu li a:hover {
  opacity: .8;
}

/* line 223, ../scss/styles.scss */
.breadcrumbs .site-inner #crumbs {
  margin: 0;
  padding: 15px 0px 10px 0px;
}
/* line 226, ../scss/styles.scss */
.breadcrumbs .site-inner #crumbs li {
  display: inline-block;
}
/* line 228, ../scss/styles.scss */
.breadcrumbs .site-inner #crumbs li a {
  font-weight: 600;
}
/* line 231, ../scss/styles.scss */
.breadcrumbs .site-inner #crumbs li:after {
  font-weight: 600;
  content: ' > ';
  margin: 0px 8px;
}
/* line 237, ../scss/styles.scss */
.breadcrumbs .site-inner #crumbs li:last-of-type:after {
  content: none;
  margin: 0;
}
/* line 245, ../scss/styles.scss */
.breadcrumbs.dark {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 3;
  color: #fff;
  box-shadow: 0px 0px 10px black inset;
}
/* line 253, ../scss/styles.scss */
.breadcrumbs.dark a {
  color: #fff;
}

/* line 262, ../scss/styles.scss */
.home .site-content .content-area .site-main {
  width: 100% !important;
}
/* line 265, ../scss/styles.scss */
.home .site-content .content-area .site-main section .background {
  height: auto;
  overflow: auto;
}

/* line 275, ../scss/styles.scss */
.site-content {
  position: relative;
}
/* line 278, ../scss/styles.scss */
.site-content section .background {
  transition: .7s all;
}
/* line 280, ../scss/styles.scss */
.site-content section .background.property {
  background-image: url("/wp-content/themes/business/img/property.jpeg") !important;
}
/* line 283, ../scss/styles.scss */
.site-content section .background.group {
  background-image: url("/wp-content/themes/business/img/group.jpeg") !important;
}
/* line 286, ../scss/styles.scss */
.site-content section .background.retirement {
  background-image: url("/wp-content/themes/business/img/retirement.jpeg") !important;
}
/* line 289, ../scss/styles.scss */
.site-content section .background .overlay {
  overflow: auto;
  background-color: rgba(53, 69, 92, 0.8);
  box-shadow: inset 0 -200px 200px -200px black;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 297, ../scss/styles.scss */
.site-content section .background .overlay .site-inner {
  z-index: 2;
  min-height: 600px;
  height: 60vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
}
/* line 311, ../scss/styles.scss */
.site-content section .background .overlay .site-inner section.static h2, .site-content section .background .overlay .site-inner .options h2, .site-content section .background .overlay .site-inner .home-form h2 {
  font-size: 3em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* line 315, ../scss/styles.scss */
.site-content section .background .overlay .site-inner section.static p.tagline, .site-content section .background .overlay .site-inner .options p.tagline, .site-content section .background .overlay .site-inner .home-form p.tagline {
  font-size: 1.7em;
  font-weight: 300;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
/* line 320, ../scss/styles.scss */
.site-content section .background .overlay .site-inner section.static a.button, .site-content section .background .overlay .site-inner .options a.button, .site-content section .background .overlay .site-inner .home-form a.button {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* line 329, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: -ms-flexbox;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  text-shadow: 0px 0px 5px black;
}
/* line 341, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .text {
  padding-bottom: 2em;
  width: 100%;
}
/* line 344, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .text h2 {
  line-height: 170%;
  font-size: 1.5em;
  text-shadow: 0px 0px 10px black;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 5px solid #fcc16a;
}
/* line 352, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .text p {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0;
}
/* line 356, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .text p strong {
  font-weight: 600;
  font-style: italic;
}
/* line 362, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .option {
  cursor: pointer;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 0 1 auto;
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0px 30px;
}
/* line 370, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .option .thumb {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
  margin: 0 auto 1.5em auto;
  transition: .4s all;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}
/* line 380, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .option .thumb:hover {
  opacity: .8;
}
/* line 384, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .options .option h3 {
  line-height: 130%;
}
/* line 389, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form {
  width: 100%;
  flex-wrap: wrap;
}
/* line 392, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form a.button, .site-content section .background .overlay .site-inner .home-form input[type="submit"] {
  display: table;
  float: right;
  clear: both;
  margin: 10px 0px;
}
/* line 397, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form a.button.back, .site-content section .background .overlay .site-inner .home-form a.button.drop-back, .site-content section .background .overlay .site-inner .home-form input[type="submit"].back, .site-content section .background .overlay .site-inner .home-form input[type="submit"].drop-back {
  float: left;
}
/* line 401, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form label {
  font-weight: 600;
  display: block;
  clear: both;
  margin-top: 8px;
}
/* line 407, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}
/* line 411, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown, .site-content section .background .overlay .site-inner .home-form form .rest {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  position: relative;
}
/* line 419, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown .full-width, .site-content section .background .overlay .site-inner .home-form form .rest .full-width {
  width: 100%;
}
/* line 422, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown .form-left, .site-content section .background .overlay .site-inner .home-form form .dropdown .form-right, .site-content section .background .overlay .site-inner .home-form form .rest .form-left, .site-content section .background .overlay .site-inner .home-form form .rest .form-right {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 20px;
}
/* line 429, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown .form-left h3, .site-content section .background .overlay .site-inner .home-form form .dropdown .form-right h3, .site-content section .background .overlay .site-inner .home-form form .rest .form-left h3, .site-content section .background .overlay .site-inner .home-form form .rest .form-right h3 {
  margin-top: 0;
}
/* line 432, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown .form-left label, .site-content section .background .overlay .site-inner .home-form form .dropdown .form-right label, .site-content section .background .overlay .site-inner .home-form form .rest .form-left label, .site-content section .background .overlay .site-inner .home-form form .rest .form-right label {
  line-height: 130%;
}
/* line 435, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .dropdown .form-left p, .site-content section .background .overlay .site-inner .home-form form .dropdown .form-right p, .site-content section .background .overlay .site-inner .home-form form .rest .form-left p, .site-content section .background .overlay .site-inner .home-form form .rest .form-right p {
  font-size: 16px;
}
/* line 442, ../scss/styles.scss */
.site-content section .background .overlay .site-inner .home-form form .submission img {
  position: absolute;
  top: 90px;
  right: 0;
}

/* line 457, ../scss/styles.scss */
.home .intro {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
  padding: 4em 0;
}
/* line 460, ../scss/styles.scss */
.home .intro .site-inner {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
/* line 464, ../scss/styles.scss */
.home .intro .site-inner h2 {
  color: #35455C;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: .5em;
}
/* line 470, ../scss/styles.scss */
.home .intro .site-inner p.center {
  margin: 3em 0 2em 0;
  display: block;
}
/* line 476, ../scss/styles.scss */
.home .stats {
  background-color: #35455C;
  background-image: url("/wp-content/themes/business/img/stats.jpg");
  background-size: cover;
  background-position: top center;
  overflow: auto;
  color: #fff;
  box-shadow: 0px 0px 60px #333 inset;
  padding: 50px 0px;
}
/* line 485, ../scss/styles.scss */
.home .stats .row {
  margin-top: 2.5em;
  margin-bottom: 3em;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 493, ../scss/styles.scss */
.home .stats .row .col {
  text-align: center;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  font-weight: 600;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 0px 10px;
  border-radius: 3px;
}
/* line 506, ../scss/styles.scss */
.home .stats .row .col span.large {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #fcc16a;
}

/* line 517, ../scss/styles.scss */
.home .services {
  background: #278bdf;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #278bdf, #d95b44);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #278bdf, #d95b44);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #278bdf, #d95b44);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #278bdf, #d95b44);
  /* Standard syntax */
  padding: 4em 0;
}
/* line 525, ../scss/styles.scss */
.home .services .site-inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 531, ../scss/styles.scss */
.home .services .site-inner .service {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 1em 2em 2em 2em;
  text-align: center;
  position: relative;
}
/* line 540, ../scss/styles.scss */
.home .services .site-inner .service .thumb {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
  margin: 0 auto 1.5em auto;
  transition: .4s all;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}
/* line 550, ../scss/styles.scss */
.home .services .site-inner .service .thumb:hover {
  opacity: .8;
}
/* line 554, ../scss/styles.scss */
.home .services .site-inner .service h3 {
  padding: .5em 0;
  line-height: 140%;
  text-transform: none;
  letter-spacing: .5px;
  font-size: 1.7em;
  font-weight: 600;
}
/* line 562, ../scss/styles.scss */
.home .services .site-inner .service p {
  padding-bottom: 1em;
}
/* line 565, ../scss/styles.scss */
.home .services .site-inner .service p:last-of-type {
  padding: 0;
  margin: 0;
}
/* line 570, ../scss/styles.scss */
.home .services .site-inner .service .bottom {
  position: absolute;
  bottom: .5em;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
/* line 576, ../scss/styles.scss */
.home .services .site-inner .service .bottom a.button {
  display: inline-block;
}

/* line 584, ../scss/styles.scss */
.testimonials {
  padding: 80px 60px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
}
/* line 587, ../scss/styles.scss */
.testimonials .site-inner {
  height: 50vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
}
/* line 597, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper {
  box-shadow: none;
  background: transparent;
  position: relative;
}
/* line 602, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-pager.bx-default-pager a {
  background: #eee;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0px 12px;
}
/* line 609, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ccc;
}
/* line 614, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport {
  height: auto !important;
}
/* line 617, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li {
  padding: 0px 250px;
}
/* line 619, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .open-quote {
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 120px;
  line-height: 100%;
}
/* line 626, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .close-quote {
  position: absolute;
  right: 120px;
  top: 80px;
  font-size: 120px;
  line-height: 100%;
}
/* line 633, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote {
  padding-bottom: 25px;
}
/* line 635, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote .thumb {
  height: 100px;
  width: 100%;
  max-width: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 1.5em;
  float: right;
}
/* line 645, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote p {
  font-size: 24px;
  line-height: 140%;
  min-height: 180px;
}
/* line 650, ../scss/styles.scss */
.testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote span.author {
  display: block;
  text-align: right;
  font-size: 24px;
}
/* line 660, ../scss/styles.scss */
.testimonials .site-inner .controls {
  clear: both;
  text-align: center;
}
/* line 663, ../scss/styles.scss */
.testimonials .site-inner .controls div {
  display: inline-block;
  margin: 0px 40px;
}
/* line 666, ../scss/styles.scss */
.testimonials .site-inner .controls div a {
  transition: .4s all;
}
/* line 668, ../scss/styles.scss */
.testimonials .site-inner .controls div a i {
  font-size: 4em;
}
/* line 671, ../scss/styles.scss */
.testimonials .site-inner .controls div a:hover {
  opacity: .8;
}

/* Awards section */
/* line 682, ../scss/styles.scss */
.home .awards {
  background: #414b52;
  color: #fff;
  padding: 4em 0;
}
/* line 686, ../scss/styles.scss */
.home .awards .site-inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
}
/* line 693, ../scss/styles.scss */
.home .awards .site-inner h2 {
  width: 100%;
  padding-bottom: 1em;
  font-size: 2.5em;
}
/* line 698, ../scss/styles.scss */
.home .awards .site-inner .award {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0 1em;
}
/* line 705, ../scss/styles.scss */
.home .awards .site-inner .award .thumb {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
/* line 709, ../scss/styles.scss */
.home .awards .site-inner .award .thumb .overlay {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: .4s all;
  text-shadow: 0 0 10px black;
}
/* line 724, ../scss/styles.scss */
.home .awards .site-inner .award .thumb .overlay h3 {
  width: 100%;
  color: #fff;
}
/* line 728, ../scss/styles.scss */
.home .awards .site-inner .award .thumb .overlay p {
  margin: 0;
  color: #fff;
  line-height: 140%;
  width: 100%;
}
/* line 734, ../scss/styles.scss */
.home .awards .site-inner .award .thumb .overlay:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Webinars section */
/* line 747, ../scss/styles.scss */
.home .webinars {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
  padding: 4em 0;
}
/* line 750, ../scss/styles.scss */
.home .webinars .site-inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
}
/* line 757, ../scss/styles.scss */
.home .webinars .site-inner h2 {
  width: 100%;
  padding-bottom: 1em;
  font-size: 2.5em;
}
/* line 762, ../scss/styles.scss */
.home .webinars .site-inner .webinar {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 0 1em;
}
/* line 769, ../scss/styles.scss */
.home .webinars .site-inner .webinar .thumb {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
/* line 773, ../scss/styles.scss */
.home .webinars .site-inner .webinar .thumb .overlay {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: .4s all;
  text-shadow: 0 0 10px black;
}
/* line 788, ../scss/styles.scss */
.home .webinars .site-inner .webinar .thumb .overlay h3 {
  width: 100%;
  color: #fff;
}
/* line 792, ../scss/styles.scss */
.home .webinars .site-inner .webinar .thumb .overlay p {
  margin: 0;
  color: #fff;
  line-height: 140%;
  width: 100%;
}
/* line 798, ../scss/styles.scss */
.home .webinars .site-inner .webinar .thumb .overlay:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Standard Page */
/* line 814, ../scss/styles.scss */
.page .site-content, .single-services .site-content {
  padding: 0 !important;
}
/* line 816, ../scss/styles.scss */
.page .site-content .content-area, .single-services .site-content .content-area {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 824, ../scss/styles.scss */
.page .site-content .content-area .site-main, .page .site-content .content-area .sidebar, .single-services .site-content .content-area .site-main, .single-services .site-content .content-area .sidebar {
  -ms-flex: 0 1 auto;
}
/* line 827, ../scss/styles.scss */
.page .site-content .content-area .site-main, .single-services .site-content .content-area .site-main {
  width: 70%;
}
/* line 830, ../scss/styles.scss */
.page .site-content .content-area article, .single-services .site-content .content-area article {
  padding: 1em 0 !important;
  margin: 0 auto !important;
}
/* line 833, ../scss/styles.scss */
.page .site-content .content-area article .entry-content, .single-services .site-content .content-area article .entry-content {
  border-bottom: 0px !important;
  /* Our Team page */
  /* Case Studies Page */
}
/* line 841, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .inline-thumb, .single-services .site-content .content-area article .entry-content .inline-thumb {
  margin-bottom: 2em;
}
/* line 847, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .title, .single-services .site-content .content-area article .entry-content .title {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  border-bottom: 3px solid rgba(51, 51, 51, 0.2);
  margin-bottom: 2em;
}
/* line 855, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .title img, .single-services .site-content .content-area article .entry-content .title img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  -ms-flex: 0 1 auto;
}
/* line 862, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .title h1, .single-services .site-content .content-area article .entry-content .title h1 {
  margin-top: .5em;
  -ms-flex: 0 1 auto;
}
/* line 866, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .title p, .single-services .site-content .content-area article .entry-content .title p {
  font-size: 1.2em;
  -ms-flex: 0 1 auto;
}
/* line 872, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team, .single-services .site-content .content-area article .entry-content .team {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* line 880, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team h2, .single-services .site-content .content-area article .entry-content .team h2 {
  margin-top: 2em;
  width: 100%;
}
/* line 884, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team .team-member, .single-services .site-content .content-area article .entry-content .team .team-member {
  width: 250px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
  flex-direction: column;
  -ms-flex-direction: column;
}
/* line 896, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team .team-member .featured, .single-services .site-content .content-area article .entry-content .team .team-member .featured {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid #414b52;
  transition: .4s all;
}
/* line 905, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team .team-member .featured:hover, .single-services .site-content .content-area article .entry-content .team .team-member .featured:hover {
  opacity: .8;
}
/* line 909, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team .team-member h3, .single-services .site-content .content-area article .entry-content .team .team-member h3 {
  margin: .5em 0;
}
/* line 912, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .team .team-member span.title, .single-services .site-content .content-area article .entry-content .team .team-member span.title {
  font-weight: 600;
  border-bottom: 0;
}
/* line 919, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies, .single-services .site-content .content-area article .entry-content .studies {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* line 927, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies h2, .single-services .site-content .content-area article .entry-content .studies h2 {
  margin-top: 2em;
  width: 100%;
}
/* line 931, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies .study, .single-services .site-content .content-area article .entry-content .studies .study {
  width: 300px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  -ms-flex-wrap: wrap;
}
/* line 944, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies .study .featured, .single-services .site-content .content-area article .entry-content .studies .study .featured {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 280px;
  height: 225px;
  border: 5px solid #414b52;
  transition: .4s all;
}
/* line 952, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies .study .featured:hover, .single-services .site-content .content-area article .entry-content .studies .study .featured:hover {
  opacity: .8;
}
/* line 956, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies .study h3, .single-services .site-content .content-area article .entry-content .studies .study h3 {
  margin: .5em 0;
  font-size: 1.2em;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
}
/* line 963, ../scss/styles.scss */
.page .site-content .content-area article .entry-content .studies .study span.title, .single-services .site-content .content-area article .entry-content .studies .study span.title {
  font-weight: 600;
  border-bottom: 0;
}
/* line 971, ../scss/styles.scss */
.page .site-content .content-area .sidebar, .single-services .site-content .content-area .sidebar {
  padding-top: 1em !important;
}

/* line 978, ../scss/styles.scss */
.sidebar {
  padding-top: 1em;
}
/* line 980, ../scss/styles.scss */
.sidebar .cta {
  background-size: cover;
  background-position: center center;
  margin-bottom: 1.75em;
  padding-top: 0;
}
/* line 985, ../scss/styles.scss */
.sidebar .cta .overlay {
  height: 250px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  transition: .4s all;
}
/* line 999, ../scss/styles.scss */
.sidebar .cta .overlay a {
  color: #fff;
}
/* line 1002, ../scss/styles.scss */
.sidebar .cta .overlay:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* line 1007, ../scss/styles.scss */
.sidebar .cta.long .overlay {
  height: 325px;
}

/* line 1014, ../scss/styles.scss */
.footer-cta {
  background: #278bdf;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #278bdf, #d95b44);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #278bdf, #d95b44);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #278bdf, #d95b44);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #278bdf, #d95b44);
  /* Standard syntax */
  transition: .4s all;
  color: #fff;
  padding: 2em 0;
  text-align: center;
}
/* line 1024, ../scss/styles.scss */
.footer-cta .site-inner {
  max-width: 800px;
}
/* line 1026, ../scss/styles.scss */
.footer-cta .site-inner p {
  font-size: 1.2em;
  margin: .5em 0 1em 0;
}
/* line 1030, ../scss/styles.scss */
.footer-cta .site-inner a.button {
  display: inline-block;
  background: #fff;
  color: #35455C;
}
/* line 1034, ../scss/styles.scss */
.footer-cta .site-inner a.button:hover {
  background: #35455C;
  color: #fff;
}

/* Blog */
/* line 1045, ../scss/styles.scss */
.blog .site-content, .single .site-content, .archive .site-content, .search .site-content {
  padding: 1.5em 3em;
}
/* line 1047, ../scss/styles.scss */
.blog .site-content #primary, .single .site-content #primary, .archive .site-content #primary, .search .site-content #primary {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* line 1050, ../scss/styles.scss */
.blog .site-content #primary h1, .single .site-content #primary h1, .archive .site-content #primary h1, .search .site-content #primary h1 {
  width: 100%;
}
/* line 1053, ../scss/styles.scss */
.blog .site-content #primary .site-main, .single .site-content #primary .site-main, .archive .site-content #primary .site-main, .search .site-content #primary .site-main {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 70%;
}
/* line 1060, ../scss/styles.scss */
.blog .site-content #primary .site-main .page-header, .single .site-content #primary .site-main .page-header, .archive .site-content #primary .site-main .page-header, .search .site-content #primary .site-main .page-header {
  padding: 0em .5em;
}
/* line 1063, ../scss/styles.scss */
.blog .site-content #primary .site-main article, .single .site-content #primary .site-main article, .archive .site-content #primary .site-main article, .search .site-content #primary .site-main article {
  width: 100%;
  margin-right: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  border-bottom: 3px solid rgba(65, 75, 82, 0.5);
  margin-bottom: 40px;
  padding-bottom: 40px;
}
/* line 1075, ../scss/styles.scss */
.blog .site-content #primary .site-main article .featured, .single .site-content #primary .site-main article .featured, .archive .site-content #primary .site-main article .featured, .search .site-content #primary .site-main article .featured {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: left;
  transition: .4s all;
}
/* line 1083, ../scss/styles.scss */
.blog .site-content #primary .site-main article .featured:hover, .single .site-content #primary .site-main article .featured:hover, .archive .site-content #primary .site-main article .featured:hover, .search .site-content #primary .site-main article .featured:hover {
  opacity: .8;
}
/* line 1087, ../scss/styles.scss */
.blog .site-content #primary .site-main article .posted-on, .blog .site-content #primary .site-main article .cat, .single .site-content #primary .site-main article .posted-on, .single .site-content #primary .site-main article .cat, .archive .site-content #primary .site-main article .posted-on, .archive .site-content #primary .site-main article .cat, .search .site-content #primary .site-main article .posted-on, .search .site-content #primary .site-main article .cat {
  display: inline-block;
  padding-right: 15px;
}
/* line 1091, ../scss/styles.scss */
.blog .site-content #primary .site-main article .posted-on:after, .blog .site-content #primary .site-main article .cat:after, .single .site-content #primary .site-main article .posted-on:after, .single .site-content #primary .site-main article .cat:after, .archive .site-content #primary .site-main article .posted-on:after, .archive .site-content #primary .site-main article .cat:after, .search .site-content #primary .site-main article .posted-on:after, .search .site-content #primary .site-main article .cat:after {
  content: none;
}
/* line 1095, ../scss/styles.scss */
.blog .site-content #primary .site-main article .sep, .single .site-content #primary .site-main article .sep, .archive .site-content #primary .site-main article .sep, .search .site-content #primary .site-main article .sep {
  margin: 0px 5px;
}
/* line 1097, ../scss/styles.scss */
.blog .site-content #primary .site-main article .sep:after, .single .site-content #primary .site-main article .sep:after, .archive .site-content #primary .site-main article .sep:after, .search .site-content #primary .site-main article .sep:after {
  content: none;
}
/* line 1101, ../scss/styles.scss */
.blog .site-content #primary .site-main article .posted-on, .single .site-content #primary .site-main article .posted-on, .archive .site-content #primary .site-main article .posted-on, .search .site-content #primary .site-main article .posted-on {
  font-weight: 600;
}
/* line 1104, ../scss/styles.scss */
.blog .site-content #primary .site-main article .ssb-social, .single .site-content #primary .site-main article .ssb-social, .archive .site-content #primary .site-main article .ssb-social, .search .site-content #primary .site-main article .ssb-social {
  padding-right: 0;
}
/* line 1106, ../scss/styles.scss */
.blog .site-content #primary .site-main article .ssb-social a, .single .site-content #primary .site-main article .ssb-social a, .archive .site-content #primary .site-main article .ssb-social a, .search .site-content #primary .site-main article .ssb-social a {
  padding: 5px 0px;
}
/* line 1110, ../scss/styles.scss */
.blog .site-content #primary .site-main article .article-body, .single .site-content #primary .site-main article .article-body, .archive .site-content #primary .site-main article .article-body, .search .site-content #primary .site-main article .article-body {
  padding: 0px 20px 20px 40px;
}
/* line 1113, ../scss/styles.scss */
.blog .site-content #primary .site-main article .article-body .entry-header .entry-title, .single .site-content #primary .site-main article .article-body .entry-header .entry-title, .archive .site-content #primary .site-main article .article-body .entry-header .entry-title, .search .site-content #primary .site-main article .article-body .entry-header .entry-title {
  display: block;
  font-size: 1.3em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 600;
  margin: 0px;
  line-height: 120%;
}
/* line 1121, ../scss/styles.scss */
.blog .site-content #primary .site-main article .article-body .entry-header .entry-title a, .single .site-content #primary .site-main article .article-body .entry-header .entry-title a, .archive .site-content #primary .site-main article .article-body .entry-header .entry-title a, .search .site-content #primary .site-main article .article-body .entry-header .entry-title a {
  line-height: 120%;
}
/* line 1126, ../scss/styles.scss */
.blog .site-content #primary .site-main article .article-body p, .single .site-content #primary .site-main article .article-body p, .archive .site-content #primary .site-main article .article-body p, .search .site-content #primary .site-main article .article-body p {
  margin: .75em 0 1.5em 0;
}
/* line 1129, ../scss/styles.scss */
.blog .site-content #primary .site-main article .article-body .entry-footer, .single .site-content #primary .site-main article .article-body .entry-footer, .archive .site-content #primary .site-main article .article-body .entry-footer, .search .site-content #primary .site-main article .article-body .entry-footer {
  text-align: left;
}
/* line 1134, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1), .single .site-content #primary .site-main article:nth-of-type(1), .archive .site-content #primary .site-main article:nth-of-type(1), .search .site-content #primary .site-main article:nth-of-type(1) {
  width: 100%;
  display: block;
}
/* line 1137, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .featured, .single .site-content #primary .site-main article:nth-of-type(1) .featured, .archive .site-content #primary .site-main article:nth-of-type(1) .featured, .search .site-content #primary .site-main article:nth-of-type(1) .featured {
  height: 400px;
  width: 100%;
  margin-bottom: 70px;
}
/* line 1141, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .featured:after, .single .site-content #primary .site-main article:nth-of-type(1) .featured:after, .archive .site-content #primary .site-main article:nth-of-type(1) .featured:after, .search .site-content #primary .site-main article:nth-of-type(1) .featured:after {
  content: ' ';
  height: 3px;
  width: 100%;
  background: rgba(65, 75, 82, 0.5);
  display: block;
  position: absolute;
  bottom: -35px;
}
/* line 1151, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body, .single .site-content #primary .site-main article:nth-of-type(1) .article-body, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body, .search .site-content #primary .site-main article:nth-of-type(1) .article-body {
  clear: both;
  padding: 0px;
}
/* line 1156, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-header .entry-title, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-header .entry-title, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-header .entry-title, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-header .entry-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
/* line 1163, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer {
  position: relative;
}
/* line 1165, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .posted-on, .blog .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .cat, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .posted-on, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .cat, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .posted-on, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .cat, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .posted-on, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .entry-footer .cat {
  font-size: 1em;
}
/* line 1180, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt p, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt p, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt p, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt p {
  font-size: 1.1em;
}
/* line 1184, ../scss/styles.scss */
.blog .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt a.more, .single .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt a.more, .archive .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt a.more, .search .site-content #primary .site-main article:nth-of-type(1) .article-body .excerpt a.more {
  font-size: 1.1em;
  padding: 10px 15px;
}
/* line 1191, ../scss/styles.scss */
.blog .site-content #primary .site-main article:last-of-type, .single .site-content #primary .site-main article:last-of-type, .archive .site-content #primary .site-main article:last-of-type, .search .site-content #primary .site-main article:last-of-type {
  border-bottom: 0px;
}
/* line 1196, ../scss/styles.scss */
.blog .site-content #primary .sidebar, .single .site-content #primary .sidebar, .archive .site-content #primary .sidebar, .search .site-content #primary .sidebar {
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  width: 30%;
  padding-top: 0;
}

/* FAQs */
/* line 1209, ../scss/styles.scss */
.page-template-page-faqs .content-area {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* line 1212, ../scss/styles.scss */
.page-template-page-faqs .content-area h1 {
  width: 100%;
}
/* line 1215, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1 1 auto;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 1221, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article {
  width: 100%;
}
/* line 1223, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article h2 {
  line-height: 140%;
  padding: 20px;
  background: #414b52;
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
  position: relative;
  letter-spacing: 0px;
  text-transform: none;
  cursor: pointer;
  transition: .4s all;
  padding-right: 60px;
}
/* line 1236, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article h2:after {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 0px;
  content: "\f078";
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0px 30px;
}
/* line 1249, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article h2:hover {
  background: #d95b44;
}
/* line 1252, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article h2.active {
  background: #d95b44;
}
/* line 1254, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article h2.active:after {
  transform: rotate(-90deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
/* line 1262, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article .entry-content {
  display: none;
  padding: 20px;
  background: #eee;
}
/* line 1268, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article:nth-of-type(even) h2 {
  background: #35455C;
}
/* line 1270, ../scss/styles.scss */
.page-template-page-faqs .content-area .site-main article:nth-of-type(even) h2:hover, .page-template-page-faqs .content-area .site-main article:nth-of-type(even) h2.active {
  background: #d95b44;
}
/* line 1277, ../scss/styles.scss */
.page-template-page-faqs .content-area .sidebar {
  flex: 0 1 auto;
  -ms-flex: 1 1 auto;
}

/* Modify simple layout */
/* line 1285, ../scss/styles.scss */
a.more {
  position: relative;
  right: 0px;
  bottom: 0;
  font-weight: 600;
  padding: 8px 15px;
  background: rgba(39, 139, 223, 0.7);
  box-shadow: 0px 0px 8px #278bdf inset;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
/* line 1297, ../scss/styles.scss */
a.more:hover {
  background: #278bdf;
}

/* line 1302, ../scss/styles.scss */
.ssb-social {
  height: auto;
  background: transparent;
  font-size: .6em;
  display: inline-block;
}
/* line 1310, ../scss/styles.scss */
.ssb-social a {
  border-radius: 50px;
  margin: 0px 2px;
}
/* line 1314, ../scss/styles.scss */
.ssb-social a.ssb-facebook {
  background: #3b5998;
}
/* line 1317, ../scss/styles.scss */
.ssb-social a.ssb-twitter {
  background: #55acee;
}
/* line 1320, ../scss/styles.scss */
.ssb-social a.ssb-linked {
  background: #007bb5;
}
/* line 1323, ../scss/styles.scss */
.ssb-social a:hover {
  opacity: .8;
}
/* line 1326, ../scss/styles.scss */
.ssb-social a i {
  width: 20px;
}

/* line 1333, ../scss/styles.scss */
.pagination .prev, .pagination .next {
  background: #414b52;
}
/* line 1335, ../scss/styles.scss */
.pagination .prev:hover, .pagination .next:hover {
  background: #278bdf;
}

/* line 1346, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-header {
  margin-bottom: 1.5em;
}
/* line 1348, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-header h1 {
  margin-bottom: 0;
}
/* line 1352, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-footer {
  padding: 1em 0 0 0;
  margin-top: 1.5em;
  margin-bottom: 2em;
  border-top: 2px solid rgba(26, 26, 26, 0.25);
  font-size: 1em;
}
/* line 1358, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-footer h1 {
  margin-bottom: 0;
}
/* line 1363, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-footer .ssb-social a i {
  width: 22px;
  height: 20px;
}
/* line 1370, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-content {
  border-bottom: 3px solid rgba(65, 75, 82, 0.5);
  padding-bottom: 30px;
  margin-bottom: 0;
}
/* line 1374, ../scss/styles.scss */
.single .site-content #primary .site-main article .entry-content p {
  margin: 0 0 1em;
  line-height: 140%;
}

/* Team/Services Archive */
/* line 1390, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area, .post-type-archive-services #page .site-content .content-area {
  display: block;
}
/* line 1393, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container, .post-type-archive-services #page .site-content .content-area .site-main .team-container {
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 1402, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container article, .post-type-archive-services #page .site-content .content-area .site-main .team-container article {
  width: 100%;
}
/* line 1405, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container article .featured, .post-type-archive-services #page .site-content .content-area .site-main .team-container article .featured {
  height: 300px;
}
/* line 1407, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container article .featured header.entry-header, .post-type-archive-services #page .site-content .content-area .site-main .team-container article .featured header.entry-header {
  padding: 10px;
  text-align: center;
}
/* line 1410, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container article .featured header.entry-header h2.entry-title, .post-type-archive-services #page .site-content .content-area .site-main .team-container article .featured header.entry-header h2.entry-title {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* line 1418, ../scss/styles.scss */
.post-type-archive-team #page .site-content .content-area .site-main .team-container article .entry-content footer.entry-footer, .post-type-archive-services #page .site-content .content-area .site-main .team-container article .entry-content footer.entry-footer {
  text-align: center;
  font-weight: 600;
}

/* Single Team */
/* line 1438, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article {
  padding: 30px;
}
/* line 1440, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article header {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: flex-start;
  -ms-flex-pack: start;
  align-items: flex-start;
  -ms-flex-align: start;
  padding: 0px !important;
  position: relative;
  background: transparent;
}
/* line 1453, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article header .post-thumbnail {
  -webkit-box-flex: 1 0 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1 0 auto;
  /* OLD - Firefox 19- */
  -webkit-flex: 1 0 auto;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1 0 auto;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  max-width: 250px;
}
/* line 1460, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article header .post-thumbnail img {
  width: 100%;
}
/* line 1464, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article header .meta {
  padding-left: 2em;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1 0 auto;
  /* OLD - Firefox 19- */
  -webkit-flex: 1 0 auto;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1 0 auto;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 1471, ../scss/styles.scss */
.single-team #page .site-content .content-area .site-main article header .meta h1.entry-title {
  font-size: 3em;
}

/* Single Services */
/* line 1492, ../scss/styles.scss */
.single-services .site-content .content-area .site-main article {
  margin: 0px;
  padding: 0px;
}

/* Contact */
/* line 1511, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 1520, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p {
  width: 50%;
  padding: 10px 20px;
}
/* line 1523, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p label, .page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p span, .page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p input {
  width: 100%;
}
/* line 1526, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p input[type="submit"] {
  width: auto;
}
/* line 1529, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p input[type="tel"] {
  border-color: rgba(51, 51, 51, 0.2);
}
/* line 1532, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p:last-of-type, .page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p:nth-of-type(5), .page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p:nth-of-type(6) {
  width: 100%;
}
/* line 1537, ../scss/styles.scss */
.page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form .wpcf7-select {
  height: 125px;
  overflow: hidden;
}

/* Countries Serviced */
/* line 1553, ../scss/styles.scss */
.page-id-271 .site-content {
  background-image: url("/wp-content/themes/business/img/countries-bg.jpg");
  background-size: contain;
  background-position: top center;
  position: relative;
}
/* line 1558, ../scss/styles.scss */
.page-id-271 .site-content:before {
  background: rgba(39, 139, 223, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* line 1574, ../scss/styles.scss */
.page-id-271 .site-content .breadcrumbs .site-inner #crumbs li {
  color: #fff;
}
/* line 1576, ../scss/styles.scss */
.page-id-271 .site-content .breadcrumbs .site-inner #crumbs li a {
  color: #fff;
}
/* line 1583, ../scss/styles.scss */
.page-id-271 .site-content .entry-content {
  color: #fff;
  font-size: 1.1em;
}
/* line 1586, ../scss/styles.scss */
.page-id-271 .site-content .entry-content h1, .page-id-271 .site-content .entry-content h2, .page-id-271 .site-content .entry-content h3, .page-id-271 .site-content .entry-content h4, .page-id-271 .site-content .entry-content h5, .page-id-271 .site-content .entry-content h6 {
  color: #fff;
}
/* line 1589, ../scss/styles.scss */
.page-id-271 .site-content .entry-content p {
  color: #fff;
}

/* Footer */
/* line 1599, ../scss/styles.scss */
.site-footer .widget {
  font-size: 1.2em;
}
/* line 1601, ../scss/styles.scss */
.site-footer .widget .widget-title {
  font-size: 1.5em;
}
/* line 1604, ../scss/styles.scss */
.site-footer .widget p {
  font-size: 1em;
}
/* line 1608, ../scss/styles.scss */
.site-footer .social-navigation {
  margin-bottom: 0;
  padding-top: 1em;
}
/* line 1611, ../scss/styles.scss */
.site-footer .social-navigation .site-inner {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: flex-end;
  -ms-flex-pack: end;
}
/* line 1621, ../scss/styles.scss */
.site-footer .container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 1630, ../scss/styles.scss */
.site-footer .container section {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  margin-right: 4%;
}
/* line 1637, ../scss/styles.scss */
.site-footer .container section:last-of-type {
  margin-right: 0;
}
/* line 1645, ../scss/styles.scss */
.site-footer .wp_widget_hoh_box ul li a {
  font-weight: 600;
}
/* line 1647, ../scss/styles.scss */
.site-footer .wp_widget_hoh_box ul li a:hover {
  text-decoration: underline;
}
/* line 1655, ../scss/styles.scss */
.site-footer .site-info p.copyright {
  margin: 0;
}
/* line 1660, ../scss/styles.scss */
.site-footer .widget_contact .fa {
  width: 25px;
}
/* line 1662, ../scss/styles.scss */
.site-footer .widget_contact .fa.fa-map-marker {
  float: left;
  height: 40px;
  margin-right: 5px;
}

/* ie10 & ie11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 1674, ../scss/styles.scss */
  .home {
    background: red;
  }
  /* line 1682, ../scss/styles.scss */
  .home .primary .site-main section .background .overlay .site-inner .options {
    display: block !important;
  }
  /* line 1684, ../scss/styles.scss */
  .home .primary .site-main section .background .overlay .site-inner .options .text {
    width: 100%;
    clear: both;
    float: none;
  }
  /* line 1689, ../scss/styles.scss */
  .home .primary .site-main section .background .overlay .site-inner .options .option {
    float: left;
    width: 33.3%;
  }
}
/* Mobile */
@media (max-width: 1400px) {
  /* line 1706, ../scss/styles.scss */
  .container, .site-inner {
    max-width: 1200px;
  }

  /* line 1714, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .site-branding a img {
    height: 110px;
  }
  /* line 1720, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu {
    padding-left: 1em;
  }

  /* line 1727, ../scss/styles.scss */
  #spacer {
    height: 128px;
  }
}
@media (max-width: 1200px) {
  /* line 1742, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container .primary-menu li a {
    font-size: 1em;
  }
  /* line 1744, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container .primary-menu li a:after {
    top: 0.8125em;
  }
  /* line 1753, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right {
    padding-right: 1em;
  }
  /* line 1755, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right span.phone {
    font-size: 1em;
  }

  /* line 1768, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background {
    /* remove padding on mobile */
  }
  /* line 1773, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background.property .overlay .site-inner .options, .home .site-content .content-area .site-main section .background.group .overlay .site-inner .options, .home .site-content .content-area .site-main section .background.retirement .overlay .site-inner .options {
    padding: 0px;
  }
  /* line 1775, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background.property .overlay .site-inner .options .option, .home .site-content .content-area .site-main section .background.group .overlay .site-inner .options .option, .home .site-content .content-area .site-main section .background.retirement .overlay .site-inner .options .option {
    padding: 0px;
  }

  /* line 1789, ../scss/styles.scss */
  .site-footer .site-inner {
    padding: 1em;
  }

  /* line 1796, ../scss/styles.scss */
  .page.home .site-content .content-area, .single-services.home .site-content .content-area {
    padding: 0;
  }
  /* line 1802, ../scss/styles.scss */
  .page .site-content .breadcrumbs, .page .site-content .content-area, .single-services .site-content .breadcrumbs, .single-services .site-content .content-area {
    padding: 0px 1em;
  }
  /* line 1806, ../scss/styles.scss */
  .page .footer-cta, .single-services .footer-cta {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (max-width: 1040px) {
  /* line 1817, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next {
    display: block;
  }
  /* line 1819, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .menu-toggle {
    float: left;
    margin-top: 1.5em;
    margin-left: 1em;
  }
  /* line 1824, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu {
    left: 0;
    top: 110px;
    width: 100%;
    position: absolute;
    background: #fff;
    padding-left: 0;
  }
  /* line 1833, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul {
    padding: 0px 10px;
  }
  /* line 1836, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 1841, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li.menu-item-has-children:after {
    font-family: "Genericons";
    content: "\f431";
    position: absolute;
    right: 0.625em;
    top: 0.1em;
    font-size: 24px;
  }
  /* line 1849, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li.menu-item-has-children ul.sub-menu {
    padding-bottom: 20px;
  }
  /* line 1851, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li.menu-item-has-children ul.sub-menu li {
    border: 0px;
  }
  /* line 1853, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li.menu-item-has-children ul.sub-menu li a {
    padding: 5px 0px;
  }
  /* line 1856, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu .main-navigation .menu-main-container ul li.menu-item-has-children ul.sub-menu li:after {
    content: none;
  }
  /* line 1868, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right .social-navigation {
    display: inline-block;
  }
  /* line 1879, ../scss/styles.scss */
  .site-header.shrink .site-header-main .site-inner .next .site-header-menu {
    top: 100px;
  }

  /* line 1892, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background {
    /* remove padding on mobile */
  }
  /* line 1894, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner {
    height: 100%;
  }
  /* line 1896, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options {
    padding: 3em 1em;
  }
  /* line 1899, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options .text h2 {
    line-height: 125%;
  }
  /* line 1903, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options .option {
    padding: 0px 10px;
  }
  /* line 1905, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options .option .thumb {
    width: 125px;
    height: 125px;
  }
  /* line 1917, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background.property .overlay .site-inner .options, .home .site-content .content-area .site-main section .background.group .overlay .site-inner .options, .home .site-content .content-area .site-main section .background.retirement .overlay .site-inner .options {
    padding: 0px;
  }
  /* line 1919, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background.property .overlay .site-inner .options .option, .home .site-content .content-area .site-main section .background.group .overlay .site-inner .options .option, .home .site-content .content-area .site-main section .background.retirement .overlay .site-inner .options .option {
    padding: 0px;
  }
  /* line 1931, ../scss/styles.scss */
  .home .intro {
    padding: 3em 1em;
  }
  /* line 1933, ../scss/styles.scss */
  .home .intro h2 {
    line-height: 125%;
  }
  /* line 1937, ../scss/styles.scss */
  .home .intro .site-inner p.center {
    margin: 1em 0;
  }
  /* line 1942, ../scss/styles.scss */
  .home .stats {
    padding: 0;
  }
  /* line 1945, ../scss/styles.scss */
  .home .stats .site-inner .row {
    margin: 0;
    flex-direction: column;
  }
  /* line 1948, ../scss/styles.scss */
  .home .stats .site-inner .row .col {
    margin: 0;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  /* line 1960, ../scss/styles.scss */
  .home .services .site-inner {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 1963, ../scss/styles.scss */
  .home .services .site-inner .service {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  /* line 1973, ../scss/styles.scss */
  .testimonials {
    padding: 5em 1em;
  }
  /* line 1975, ../scss/styles.scss */
  .testimonials .site-inner {
    height: 100%;
  }
  /* line 1979, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider {
    margin: 0;
  }
  /* line 1981, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li {
    padding: 0 60px;
  }
  /* line 1983, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .open-quote {
    left: 20px;
    font-size: 40px;
  }
  /* line 1987, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .close-quote {
    font-size: 40px;
    right: 40px;
    top: 0;
  }
  /* line 1994, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote .thumb {
    float: none;
    margin: 0 auto 20px auto;
  }
  /* line 1998, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote p {
    font-size: 20px;
  }
  /* line 2001, ../scss/styles.scss */
  .testimonials .site-inner .bx-wrapper .bx-viewport ul.testimonials-slider li .quote span.author {
    font-size: 20px;
    line-height: 120%;
  }

  /* line 2013, ../scss/styles.scss */
  .blog .site-content, .single .site-content, .archive .site-content, .search .site-content {
    padding: 1em;
  }

  /* line 2018, ../scss/styles.scss */
  .site-footer .widget {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  /* line 2025, ../scss/styles.scss */
  .row {
    flex-direction: column;
  }

  /* line 2033, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .site-branding a img {
    height: 80px;
  }
  /* line 2039, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .menu-toggle {
    position: absolute;
    top: 32px;
    right: 110px;
  }
  /* line 2044, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .site-header-menu {
    top: 80px;
  }
  /* line 2048, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right span.phone {
    font-size: .8em;
  }
  /* line 2050, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right span.phone a {
    display: block;
  }
  /* line 2053, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right span.phone span.sep {
    display: none;
  }
  /* line 2058, ../scss/styles.scss */
  .site-header .site-header-main .site-inner .next .header-right .social-navigation a {
    height: 20px;
    width: 20px;
  }
  /* line 2071, ../scss/styles.scss */
  .site-header.shrink .site-header-main .site-inner .next .menu-toggle {
    top: 22px;
  }
  /* line 2075, ../scss/styles.scss */
  .site-header.shrink .site-header-main .site-inner .next .site-header-menu {
    top: 70px;
  }

  /* line 2083, ../scss/styles.scss */
  #spacer {
    height: 100px;
  }

  /* line 2093, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner {
    height: 100%;
  }
  /* line 2095, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options {
    flex-direction: column;
  }
  /* line 2097, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .options .option {
    padding: 1em;
  }
  /* line 2101, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form {
    padding: 10px;
  }
  /* line 2104, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .dropdown, .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .rest {
    flex-direction: column;
  }
  /* line 2106, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .dropdown .form-left, .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .dropdown .form-right, .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .rest .form-left, .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .rest .form-right {
    padding: 0px 20px;
  }
  /* line 2111, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .rest .form-right {
    max-width: 70%;
  }
  /* line 2113, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .rest .form-right h3 {
    line-height: 125%;
  }
  /* line 2119, ../scss/styles.scss */
  .home .site-content .content-area .site-main section .background .overlay .site-inner .home-form form .submission img {
    top: 220px;
    max-width: 80px;
  }
  /* line 2135, ../scss/styles.scss */
  .home .intro .site-inner h2 {
    font-size: 1.5em;
  }

  /* line 2144, ../scss/styles.scss */
  .single .site-content #primary .sidebar {
    width: 100%;
    max-width: 350px;
    padding: 0px;
    margin: 0 auto 3em auto;
  }

  /* line 2155, ../scss/styles.scss */
  .page .site-content .content-area, .single-services .site-content .content-area, .single .site-content .content-area, .blog .site-content .content-area {
    flex-direction: column;
  }
  /* line 2157, ../scss/styles.scss */
  .page .site-content .content-area .site-main, .single-services .site-content .content-area .site-main, .single .site-content .content-area .site-main, .blog .site-content .content-area .site-main {
    margin-bottom: 2em;
    width: 100% !important;
  }
  /* line 2161, ../scss/styles.scss */
  .page .site-content .content-area .sidebar, .single-services .site-content .content-area .sidebar, .single .site-content .content-area .sidebar, .blog .site-content .content-area .sidebar {
    padding: 0;
    width: 100% !important;
    max-width: 350px;
    margin: 0 auto 3em auto;
  }
  /* line 2172, ../scss/styles.scss */
  .page.home .site-content .content-area .site-main, .single-services.home .site-content .content-area .site-main, .single.home .site-content .content-area .site-main, .blog.home .site-content .content-area .site-main {
    margin-bottom: 0;
  }

  /* line 2182, ../scss/styles.scss */
  .blog .site-content #primary .site-main {
    margin-bottom: 2em;
  }
  /* line 2184, ../scss/styles.scss */
  .blog .site-content #primary .site-main article {
    flex-direction: column;
  }
  /* line 2186, ../scss/styles.scss */
  .blog .site-content #primary .site-main article .article-body {
    padding: 20px 0px;
  }

  /* line 2202, ../scss/styles.scss */
  .page-template-page-contact .site-content #primary .site-main article .entry-content .wpcf7 form p {
    width: 100%;
  }

  /* line 2214, ../scss/styles.scss */
  .site-footer .social-navigation {
    padding-top: 0;
    width: 100%;
  }
  /* line 2218, ../scss/styles.scss */
  .site-footer .container {
    flex-direction: column;
  }
  /* line 2220, ../scss/styles.scss */
  .site-footer .container section {
    width: 100%;
    margin-right: 0;
  }
  /* line 2225, ../scss/styles.scss */
  .site-footer .widget {
    padding: 0;
    margin-bottom: 2em;
  }
}
@media (max-width: 480px) {
  /* line 2238, ../scss/styles.scss */
  .single-services .site-content .content-area article .entry-content .title {
    flex-direction: column;
    text-align: center;
  }
  /* line 2241, ../scss/styles.scss */
  .single-services .site-content .content-area article .entry-content .title img {
    margin: 0;
  }
}
