//Colors

$blue: #278bdf;
$orange: #d95b44;
$gray: #414b52;
$gold: #fcc16a;
$dkblue: #35455C;

#spacer {
	height: 158px;
	display: block;
}
p, .entry-content ol, .entry-content ul {
	line-height: 125%;
	font-size: 20px;
}

.row {
	 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	.col {
		-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
		padding: 0 1em;
	}
}

.site-header {
	//border-bottom: 3px solid #eee;
	// enqueued when sticky nav is enabled
	&.shrink {
		border-bottom: 0px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
		//background: #eee;
		.site-header-main {
			.site-inner {
				padding: 0px;
				.next {
					.header-right {
						#header-search-form {
							//top: 84px;
						}
						span.phone {
							//display: inline-block; 
							//padding-right: 1em;
							//font-size: 1em;
						}
					}
				}
			}
		}
		img.site-title {
			height: 90px;
		}
		.site-header-main {
			.site-inner {
				.next { 
					.header-right {
						//flex-direction: row;
						//margin-bottom: 1em;
						//align-self: flex-end;
						span.phone {
							//margin-top: .5em;
						}
					}
				}
			}
		}
	}
	&.fixed {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
	}
	.site-header-main {
		//box-shadow: 0px 0px 40px rgba(0,0,0,0.2) inset;
		.site-inner {
			padding: 5px 0px;
			transition: .4s all;
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  			display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
  			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			align-items: center;
    		-ms-flex-align: center;
			.next {
				flex: auto;
				text-align: left;
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  				display: -ms-flexbox;      /* TWEENER - IE 10 */
  				display: -webkit-flex;     /* NEW - Chrome */
  				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
				.site-header-menu {
					align-self: flex-end;
					-ms-flex-item-align: end;
					padding-left: 3em;
					nav {
						.menu-main-container {
							.primary-menu {
								li {
									a {
										font-weight: 600;
										font-size: 1.2em;
										&:after {
											top: 1.2em;
										}
									}
									ul.sub-menu {
										li {
											a {
												font-size: .95em;
												font-weight: 400;
											}
										}
									}
								}
							}
						}
					}
				}
				.header-right {
					flex: auto;
					text-align: right;
					align-self: center;
					display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
					display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
					display: -ms-flexbox;      /* TWEENER - IE 10 */
					display: -webkit-flex;     /* NEW - Chrome */
					display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
					flex-direction: column;
					-ms-flex-direction: column;
					-ms-flex-item-align: end;
					align-items: flex-end;
					justify-content: center;
					span.phone {
						font-size: 1.2em;
						display: block;
						font-weight: bold;
						a {
							color: $orange;
							&:hover {
								color: $blue;
							}
						}
						.sep {
							margin: 0px 8px;
						    font-weight: 600;
						    font-size: 1.3em;
						}
					}
					a.button {
						display: inline-block;
						background: rgba($gray, 0.7);
						text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
						box-shadow: inset 0px 0px 8px $gray;
						&:hover {
							background: $gray;
						}
					}
					#header-search-form {
						position: absolute;
						display: none;
						width: 350px;
						padding: 20px;
						top: 124px;
						right: 0;
						z-index: 9999;
						form {
							text-align: left;
						}
					}
					.social-navigation {
						.site-inner {
							.menu-social-container {
								.social-links-menu {
									li {
										a[href*="linkedin.com"] {
											&:before {
												font-size: 23px;
												color: #0177B5;
											}
										}
										a[href*="facebook.com"] {
											&:before {
												font-size: 23px;
												color: #4867AA;
											}
										}
										a[href*="twitter.com"] {
											&:before {
												font-size: 23px;
												color: #1DA1F2;
											}
										}
										a {
											&:hover {
												opacity: .8;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.breadcrumbs {
	.site-inner {
		#crumbs {
			margin: 0;
			padding: 15px 0px 10px 0px;
			li {
				display: inline-block;
				a {
					font-weight: 600;
				}
				&:after {
					font-weight: 600;
					content: ' > ';
					margin: 0px 8px;
				}
				&:last-of-type {
					&:after {
						content: none;
						margin: 0;
					}
				}
			}
		}
	}
	&.dark {
		position: absolute;
		top: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		z-index: 3;
		color: #fff;
		box-shadow: 0px 0px 10px black inset;
		a {
			color: #fff;
		}
	}
}

.home {
	.site-content {
		.content-area {
			.site-main {
				width: 100%!important;
				section {
					.background {
						height: auto;
						overflow: auto;
					}
				}
			}
		}
	}
}

.site-content {
	position: relative;
	section {
		.background {
			transition: .7s all;
			&.property {
				background-image: url('/wp-content/themes/business/img/property.jpeg')!important;
			}
			&.group {
				background-image: url('/wp-content/themes/business/img/group.jpeg')!important;
			}
			&.retirement {
				background-image: url('/wp-content/themes/business/img/retirement.jpeg')!important;
			}
			.overlay {
				overflow: auto;
				background-color: rgba($dkblue, 0.8);
			    box-shadow:inset 0 -200px 200px -200px black;
				position: relative;
				top: 0;
				left: 0;
				z-index: 2;
				.site-inner {
					z-index: 2;
					min-height: 600px;
					height: 60vh;
					display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  					display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  					display: -ms-flexbox;      /* TWEENER - IE 10 */
  					display: -webkit-flex;     /* NEW - Chrome */
  					display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
					justify-content: center;
					flex-direction: column;
					align-items: center;
    				-ms-flex-align: center;
					section.static, .options, .home-form {
						h2 {
							font-size: 3em;
							text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
						}
						p.tagline {
							font-size: 1.7em;
							font-weight: 300;
							text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
						}
						a.button {
							text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
							box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
							//background: $gray;
							&:hover {
								//background: $blue;
							}
						}
					}
					.options {
						max-width: 1100px;
						margin: 0 auto;
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
						display: -webkit-flex;     /* NEW - Chrome */
						display: -ms-flexbox;
						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						text-align: center;
						flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						text-shadow: 0px 0px 5px black;
						.text {
							padding-bottom: 2em;
							width: 100%;
							h2 {
								line-height: 170%;
								font-size: 1.5em;
								text-shadow: 0px 0px 10px black;
								color: #fff;
								padding-bottom: 12px;
								border-bottom: 5px solid $gold;
							}
							p {
								font-size: 1.1em;
								margin-top: 1em;
								margin-bottom: 0;
								strong {
									font-weight: 600;
									font-style: italic;
								}
							}
						}
						.option {
							cursor: pointer;
							-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  							-moz-box-flex: 1;         /* OLD - Firefox 19- */
  							-webkit-flex: 1;          /* Chrome */
  							-ms-flex: 0 1 auto;
  							flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
							padding: 0px 30px;
							.thumb {
								height: 200px;
								width: 200px;
								background-size: cover;
								background-position: center center;
								border-radius: 100px;
								margin: 0 auto 1.5em auto;
								transition: .4s all;
								box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
								border: 3px solid #fff;
								&:hover {
									opacity: .8;
								}
							}
							h3 {
								line-height: 130%;
							}
						}
					}
					.home-form {
						width: 100%;
						flex-wrap: wrap;
						a.button, input[type="submit"] {
							display: table;
							float: right;
							clear: both;
							margin: 10px 0px;
							&.back, &.drop-back {
								float: left;
							}
						}
						label {
							font-weight: 600;
							display: block;
							clear: both;
							margin-top: 8px;
						}
						form {
							max-width: 900px;
							margin: 0 auto;
							width: 100%;
							.dropdown, .rest {
								 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
								flex-wrap: wrap;
								position: relative;
								.full-width {
									width: 100%;
								}
								.form-left, .form-right {
									-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
									padding: 20px;
									h3 {
										margin-top: 0;
									}
									label {
										line-height: 130%;
									}
									p {
										font-size: 16px;
									}
								}
							}
							.submission {
								// Security gif
								img {
									position: absolute;
									top: 90px;
									right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

.home {
	.intro{
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
		padding: 4em 0;
		.site-inner{
			max-width: 900px;
			width: 100%;
			margin: 0 auto;
			h2 {
				color: $dkblue;
				font-size: 2.5em;
				text-align: center;
				margin-bottom: .5em;
			}
			p.center {
				margin: 3em 0 2em 0;
				display: block;
			}
		}
	}
	.stats {
		background-color: $dkblue;
		background-image: url('/wp-content/themes/business/img/stats.jpg');
		background-size: cover;
		background-position: top center;
		overflow: auto;
		color: #fff;
		box-shadow: 0px 0px 60px #333 inset;
		padding: 50px 0px;
		.row {
			margin-top: 2.5em;
			margin-bottom: 3em;
			 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			.col {
				text-align: center;
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
				font-weight: 600;
				font-size: 1.2em;
				background: rgba(0,0,0,0.2);
				padding: 25px;
				margin: 0px 10px;
				border-radius: 3px;
				span.large {
					text-transform: uppercase;
					font-size: 2.5em;
					color: $gold;
					//text-shadow: 1px 1px 0px #fff;
				}
			}
		}
	}
}

.home .services {
	//box-shadow: 0px 0px 40px rgba(0,0,0,0.4) inset;
	background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, $blue, $orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $blue, $orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $blue, $orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $blue, $orange); /* Standard syntax */
	padding: 4em 0;
	.site-inner {
		 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		.service {
			-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
			padding: 1em 2em 2em 2em;
			text-align: center;
			position: relative;
			.thumb {
				height: 200px;
				width: 200px;
				background-size: cover;
				background-position: center center;
				border-radius: 100px;
				margin: 0 auto 1.5em auto;
				transition: .4s all;
				box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
				border: 3px solid #fff;
				&:hover {
					opacity: .8;
				}
			}
			h3 {
				padding: .5em 0;
				line-height: 140%;
				text-transform: none;
				letter-spacing: .5px;
				font-size: 1.7em;
				font-weight: 600;
			}
			p {
				padding-bottom: 1em;
				//line-height: 140%;
				&:last-of-type {
					padding: 0;
					margin: 0;
				}
			}
			.bottom {
				position: absolute;
				bottom: .5em;
				left: 0;
				width: 100%;
				margin: 0 auto;
				a.button {
					display: inline-block;
				}
			}
		}
	}
}

.testimonials {
	padding: 80px 60px;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.4) inset;
	.site-inner {
		height: 50vh;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  		display: -ms-flexbox;      /* TWEENER - IE 10 */
  		display: -webkit-flex;     /* NEW - Chrome */
  		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: column;
		-ms-flex-direction: column;
		justify-content: center;
		.bx-wrapper {
			box-shadow: none;
			background: transparent;
			position: relative;
			.bx-pager.bx-default-pager {
				a {
					background: #eee;
					border: 1px solid #ccc;
					width: 20px;
					height: 20px;
					border-radius: 50px;
					margin: 0px 12px;
					&.active {
						background: #ccc;
					}
				}
			}
			.bx-viewport {
				height: auto!important;
				ul.testimonials-slider {
					li {
						padding: 0px 250px;
						.open-quote {
							position: absolute;
							top: 0px;
							left: 40px;
							font-size: 120px;
							line-height: 100%;
						}
						.close-quote {
							position: absolute;
							right: 120px;
							top: 80px;
							font-size: 120px;
							line-height: 100%;
						}
						.quote {
							padding-bottom: 25px;
							.thumb {
								height: 100px;
								width: 100%;
								max-width: 200px;
								background-size: contain;
								background-position: center center;
								background-repeat: no-repeat;
								margin-left: 1.5em;
								float: right;
							}
							p {
								font-size: 24px;
								line-height: 140%;
								min-height: 180px;
							}
							span.author {
								display: block;
								text-align: right;
								font-size: 24px;
							}
						}
					}
				}
			}
		}
		.controls {
			clear: both;
			text-align: center;
			div {
				display: inline-block;
				margin: 0px 40px;
				a {
					transition: .4s all;
					i {
						font-size: 4em;
					}
					&:hover {
						opacity: .8;
					}
				}
			}
		}
	}
}

/* Awards section */
.home {
	.awards {
		background: $gray;
		color: #fff;
		padding: 4em 0;
		.site-inner {
			 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			flex-wrap: wrap;
			h2 {
				width: 100%;
				padding-bottom: 1em;
				font-size: 2.5em;
			}
			.award {
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
				padding: 0 1em;
				.thumb {
					width: 100%;
					background-size: cover;
					background-position: center center;
					.overlay {
						width: 100%;
						height: 250px;
						 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						align-items: flex-end;
						align-content: flex-end;
						flex-wrap: wrap;
						background: rgba(0,0,0,0.5);
						padding: 15px;
						transition: .4s all;
						text-shadow: 0 0 10px black;
						h3 {
							width: 100%;
							color: #fff;
						}
						p {	
							margin: 0;
							color: #fff;
							line-height: 140%;
							width: 100%;
						}
						&:hover {
							background: rgba(0,0,0,0.2);
						}
					}
				}
			}
		}
	}
}

/* Webinars section */

.home {
	.webinars {
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
		padding: 4em 0;
		.site-inner {
			 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			flex-wrap: wrap;
			h2 {
				width: 100%;
				padding-bottom: 1em;
				font-size: 2.5em;
			}
			.webinar {
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
				padding: 0 1em;
				.thumb {
					width: 100%;
					background-size: cover;
					background-position: center center;
					.overlay {
						width: 100%;
						height: 250px;
						 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						align-items: flex-end;
						align-content: flex-end;
						flex-wrap: wrap;
						background: rgba(0,0,0,0.5);
						padding: 15px;
						transition: .4s all;
						text-shadow: 0 0 10px black;
						h3 {
							width: 100%;
							color: #fff;
						}
						p {	
							margin: 0;
							color: #fff;
							line-height: 140%;
							width: 100%;
						}
						&:hover {
							background: rgba(0,0,0,0.2);
						}
					}
				}
			}
		}
	}
}

/* Standard Page */

.background {
	//height: 50vh;
}
.page, .single-services {
	.site-content {
		padding: 0!important;
		.content-area {
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  			display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
  			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
  			.site-main, .sidebar {
  				-ms-flex: 0 1 auto;
  			}
  			.site-main {
  				width: 70%;
  			}
			article {
				padding: 1em 0!important;
				margin: 0 auto!important;
				.entry-content {
					//.inline-thumb {
						//max-width: 400px;
						//float: right;
						//margin-left: 40px;
						//margin-bottom: 40px;
					//}
					border-bottom: 0px!important;
					.inline-thumb {
						margin-bottom: 2em;
					}
					h2 {
						//margin-top: 2em;
					}
					.title {
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  						display: -ms-flexbox;      /* TWEENER - IE 10 */
  						display: -webkit-flex;     /* NEW - Chrome */
  						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						border-bottom: 3px solid rgba( 51, 51, 51, 0.2);
						margin-bottom: 2em;
						img {
							max-width: 200px;
							max-height: 200px;
							margin-right: 1.5em;
							margin-bottom: 1.5em;
							-ms-flex: 0 1 auto;
						}
						h1 {
							margin-top: .5em;
							-ms-flex: 0 1 auto;
						}
						p {
							font-size: 1.2em;
							-ms-flex: 0 1 auto;
						}
					}
					/* Our Team page */
					.team {
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  						display: -ms-flexbox;      /* TWEENER - IE 10 */
  						display: -webkit-flex;     /* NEW - Chrome */
  						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						h2 {
							margin-top: 2em;
							width: 100%;
						}
						.team-member {
							width: 250px;
							display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
						    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
						    display: -ms-flexbox;      /* TWEENER - IE 10 */
						    display: -webkit-flex;     /* NEW - Chrome */
						    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
							align-items: center;
							-ms-flex-align: center;
							text-align: center;
							flex-direction: column;
							-ms-flex-direction: column;
							.featured {
								background-size: contain;
								background-repeat: no-repeat;
								background-position: center center;
								width: 200px;
								height: 200px;
								border-radius: 100px;
								border: 5px solid $gray;
								transition: .4s all;
								&:hover {
									opacity: .8;
								}
							}
							h3 {
								margin: .5em 0;
							}
							span.title {
								font-weight: 600;
								border-bottom: 0;
							}
						}
					}
					/* Case Studies Page */
					.studies {
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
						display: -ms-flexbox;      /* TWEENER - IE 10 */
						display: -webkit-flex;     /* NEW - Chrome */
						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						h2 {
							margin-top: 2em;
							width: 100%;
						}
						.study {
							width: 300px;
							display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
							display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
							display: -ms-flexbox;      /* TWEENER - IE 10 */
							display: -webkit-flex;     /* NEW - Chrome */
							display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
							align-items: center;
							text-align: center;
							-ms-flex-direction: column;
							flex-direction: column;
							padding: 10px;
							-ms-flex-wrap: wrap;
							.featured {
								background-repeat: no-repeat;
								background-size: contain;
								background-position: center center;
								width: 280px;
								height: 225px;
								border: 5px solid $gray;
								transition: .4s all;
								&:hover {
									opacity: .8;
								}
							}
							h3 {
								margin: .5em 0;
								font-size: 1.2em;
								text-transform: none;
								letter-spacing: 0;
								width: 100%;
							}
							span.title {
								font-weight: 600;
								border-bottom: 0;
							}
						}
					}
				}
			}
			.sidebar {
				padding-top: 1em!important;
			}
		}
	}
}

.sidebar {
				padding-top: 1em;
				.cta {
					background-size: cover;
					background-position: center center;
					margin-bottom: 1.75em;
					padding-top: 0;
					.overlay {
						height: 250px;
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
						display: -ms-flexbox;      /* TWEENER - IE 10 */
						display: -webkit-flex;     /* NEW - Chrome */
						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						align-items: center;
						-ms-flex-pack: center;
						justify-content: center;
						padding: 15px;
						text-align: center;
						background: rgba(0, 0, 0, 0.5);
						transition: .4s all;
						a {
							color: #fff;
						}
						&:hover {
							background: rgba(0,0,0,0.3);
						}
					}
		&.long {
			.overlay {
				height: 325px;
			}
		}
	}
}

.footer-cta {
	background: $blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, $blue, $orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $blue, $orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $blue, $orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $blue, $orange); /* Standard syntax */
	transition: .4s all;
	color: #fff;
	padding: 2em 0;
	text-align: center;
	.site-inner {
		max-width: 800px;
		p {
			font-size: 1.2em;
			margin: .5em 0 1em 0;
		}
		a.button {
			display: inline-block;
			background: #fff;
			color: $dkblue;
			&:hover {
				background: $dkblue;
				color: #fff;
			}
		}
	}
}

/* Blog */

.blog, .single, .archive, .search {
	.site-content {
		padding: 1.5em 3em;
		#primary {
			flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			h1 {
				width: 100%;
			}
			.site-main {
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-flex: 1;         /* OLD - Firefox 19- */
				-webkit-flex: 1;          /* Chrome */
				-ms-flex: 0 1 auto;
    			flex: 0 1 auto;
				width: 70%;
				.page-header {
					padding: 0em .5em;
				}
				article {
					width: 100%;
					margin-right: 0;
					//padding: 0em .5em;
					display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
					display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
					display: -ms-flexbox;      /* TWEENER - IE 10 */
					display: -webkit-flex;     /* NEW - Chrome */
					display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
					border-bottom: 3px solid rgba($gray, 0.5);
					margin-bottom: 40px;
					padding-bottom: 40px;
					.featured {
						width: 300px;
						height: 200px;
						background-size: cover;
						background-position: center center;
						position: relative;
						float: left;
						transition: .4s all;
						&:hover {
							opacity: .8;
						}
					}
					.posted-on, .cat {
						display: inline-block;
						//font-size: .9em;
						padding-right: 15px;
						&:after {
							content: none;
						}
					}
					.sep {
						margin: 0px 5px;
						&:after {
							content: none;
						}
					}
					.posted-on {
						font-weight: 600;
					}
					.ssb-social {
						padding-right: 0;
						a {
							padding: 5px 0px;
						}
					}
					.article-body {
						padding: 0px 20px 20px 40px;
						.entry-header {
							.entry-title {
								display: block;
								font-size: 1.3em;
								text-transform: none;
								letter-spacing: 0px;
								font-weight: 600;
								margin: 0px;
								line-height: 120%;
								a {
									line-height: 120%;
								}
							}
						}
						p {
							margin: .75em 0 1.5em 0;
						}
						.entry-footer {
							text-align: left;
							//padding: 10px 20px;
						}
					}
					&:nth-of-type(1) {
						width: 100%;
						display: block;
						.featured {
							height: 400px;
							width: 100%;
							margin-bottom: 70px;
							&:after {
								content: ' ';
								height: 3px;
								width: 100%;
								background: rgba($gray, 0.5);
								display: block;
								position: absolute;
								bottom: -35px;
							}
						}
						.article-body {
							clear: both;
							padding: 0px;
							.entry-header {
								//padding: 20px;
								.entry-title {
									font-size: 1.5rem;
									text-transform: uppercase;
									font-weight: 600;
									letter-spacing: 1.5px;
								}
							}
							.entry-footer {
								position: relative;
								.posted-on, .cat {
									font-size: 1em;
								}
								//.ssb-social {
									//position: absolute;
									//right: 10px;
									//font-size: .9em;
									//a {
										//i {
											//width: 25px;
										//}
									//}
								//}
							}
							.excerpt {
								p {
									//margin-top: 10px;
									font-size: 1.1em;
								}
								a.more {
									font-size: 1.1em;
									padding: 10px 15px;
								}
							}
						}
					}
					&:last-of-type {
						border-bottom: 0px;
					}
				}
			}
			.sidebar {
				flex: 0 1 auto;
				-ms-flex: 0 1 auto;
				width: 30%;
				padding-top: 0;
			}
		}
	}
}

/* FAQs */

.page-template-page-faqs {
	.content-area {
		flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		h1 {
			width: 100%;
		}
		.site-main {
			-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  			-moz-box-flex: 1;         /* OLD - Firefox 19- */
  			-webkit-flex: 1;          /* Chrome */
  			-ms-flex: 1 1 auto;              /* IE 10 */
  			flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
			article {
				width: 100%;
				h2 {
					line-height: 140%;
					padding: 20px;
					background: $gray;
					color: #fff;
					font-weight: 400;
					font-size: 1.3em;
					position: relative;
					letter-spacing: 0px;
					text-transform: none;
					cursor: pointer;
					transition: .4s all;
					padding-right: 60px;
					&:after {
						display: inline-block;
						position: absolute;;
						top: 25px;
						right: 0px;
						content: "\f078";
						font: normal normal normal 14px/1 FontAwesome;
						-webkit-transition: all 1s ease;
						-moz-transition: all 1s ease;
						-o-transition: all 1s ease;
						transition: all 1s ease;
						padding: 0px 30px;
					}
					&:hover {
						background: $orange;
					}
					&.active {
						background: $orange;
						&:after {
							transform: rotate(-90deg);
							-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
						    -webkit-transform: rotate(-90deg);
						    -ms-transform: rotate(-90deg);
						}
					}
				}
				.entry-content {
					display: none;
					padding: 20px;
					background: #eee;
				}
				&:nth-of-type(even){
					h2 {
						background: $dkblue;
						&:hover, &.active {
							background: $orange;
						}
					}
				}
			}
		}
		.sidebar {
			flex: 0 1 auto;
  			-ms-flex: 1 1 auto;
		}
	}
}

/* Modify simple layout */
a.more {
	position: relative;
	right: 0px;
	bottom: 0;
	font-weight: 600;
	padding: 8px 15px;
	background: rgba($blue, 0.7);
	box-shadow: 0px 0px 8px $blue inset;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	&:hover {
		background: $blue;
	}
}

.ssb-social {
	//position: absolute;
	//left: 25px;
	//bottom: 6px;
	height: auto;
	background: transparent;
	font-size: .6em;
	display: inline-block;
	a {
		//background: $orange;
		border-radius: 50px;
		margin: 0px 2px;
		&.ssb-facebook {
			background: #3b5998;
		}
		&.ssb-twitter {
			background: #55acee;
		}
		&.ssb-linked {
			background: #007bb5;
		}
		&:hover {
			opacity: .8;
		}
		i {
			width: 20px;
		}
	}
}

.pagination {
	.prev, .next {
		background: $gray;
		&:hover {
			background: $blue;
		}
	}
}

.single {
	.site-content {
		#primary {
			.site-main {
				article {
					.entry-header {
						margin-bottom: 1.5em;
						h1 {
							margin-bottom: 0;
						}
					}
					.entry-footer {
						padding: 1em 0 0 0;
						margin-top: 1.5em;
						margin-bottom: 2em;
						border-top: 2px solid rgba(26, 26, 26, 0.25);
						font-size: 1em;
						h1 {
							margin-bottom: 0;
						}
						.ssb-social {
							a {
								i {
									width: 22px;
									height: 20px;
								}
							}
						}
					}
					.entry-content {
						border-bottom: 3px solid rgba($gray, 0.5);
						padding-bottom: 30px;
						margin-bottom: 0;
						p {
							margin: 0 0 1em;
							line-height: 140%;
						}
					}
				}
			}
		}
	}
}

/* Team/Services Archive */

.post-type-archive-team, .post-type-archive-services {
	#page {
		.site-content {
			.content-area {
				display: block;
				.site-main {
					.team-container {
						margin: 0 auto;
						text-align: center;
						overflow: auto;
						display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  						display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  						display: -ms-flexbox;      /* TWEENER - IE 10 */
  						display: -webkit-flex;     /* NEW - Chrome */
  						display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
						article {
							//max-width: 300px;
							width: 100%;
							.featured {
								height: 300px;
								header.entry-header {
									padding: 10px;
									text-align: center;
									h2.entry-title {
										font-size: 1.2em;
										text-transform: uppercase;
										letter-spacing: 1.5px;
									}
								}
							}
							.entry-content {
								footer.entry-footer {
									text-align: center;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Single Team */

.single-team {
	#page {
		.site-content {
			.content-area {
				.site-main {
					article {
						padding: 30px;
						header {
							display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
							display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
							display: -ms-flexbox;      /* TWEENER - IE 10 */
							display: -webkit-flex;     /* NEW - Chrome */
							display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
							justify-content: flex-start;
							-ms-flex-pack: start;
							align-items: flex-start;
							-ms-flex-align: start;
							padding: 0px!important;
							position: relative;
							background: transparent;
							.post-thumbnail {
								-webkit-box-flex: 1 0 auto;      /* OLD - iOS 6-, Safari 3.1-6 */
								-moz-box-flex: 1 0 auto;         /* OLD - Firefox 19- */
								-webkit-flex: 1 0 auto;          /* Chrome */
								-ms-flex: 1 0 auto;              /* IE 10 */
								flex: 1 0 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
								max-width: 250px;
								img {
									width: 100%;
								}
							}
							.meta {
								padding-left: 2em;
								-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
								-moz-box-flex: 1 0 auto;         /* OLD - Firefox 19- */
								-webkit-flex: 1 0 auto;          /* Chrome */
								-ms-flex: 1 0 auto;              /* IE 10 */
								flex: 1 0 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
								h1.entry-title {
									font-size: 3em;
								}
							}
						}
						.entry-content {

						}
					}
				}
			}
		}
	}
}

/* Single Services */

.single-services {
	.site-content {
		.content-area {
			.site-main {
				article {
					margin: 0px;
					padding: 0px;
				}
			}
		}
	}
}

/* Contact */

.page-template-page-contact {
	.site-content {
		#primary {
			.site-main {
				//width: 100%;
				article {
					.entry-content {
						.wpcf7 {
							form {
								display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
							 	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
							  	display: -ms-flexbox;      /* TWEENER - IE 10 */
							  	display: -webkit-flex;     /* NEW - Chrome */
							  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
							  	-ms-flex-wrap: wrap;
								flex-wrap: wrap;

								p {
									width: 50%;
									padding: 10px 20px;
									label, span, input {
										width: 100%;
									}
									input[type="submit"] {
										width: auto;
									}
									input[type="tel"] {
										border-color: rgba( 51, 51, 51, 0.2);
									}
									&:last-of-type, &:nth-of-type(5), &:nth-of-type(6) {
										width: 100%;
									}
								}

								.wpcf7-select {
									height: 125px;
									overflow: hidden;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Countries Serviced */

.page-id-271 {
	.site-content {
		background-image: url('/wp-content/themes/business/img/countries-bg.jpg');
		background-size: contain;
		background-position: top center;
		position: relative;
		&:before {
			background: rgba($blue ,0.8);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  			display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
  			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		}
		.breadcrumbs {
			.site-inner {
				#crumbs {
					li {
						color: #fff;
						a {
							color: #fff;
						}
					}
				}
			}
		}
		.entry-content {
			color: #fff;
			font-size: 1.1em;
			h1, h2, h3, h4, h5, h6 {
				color: #fff;
			}
			p {
				color: #fff;
			}
		}
	}
}

/* Footer */

.site-footer {
	.widget {
		font-size: 1.2em;
		.widget-title {
			font-size: 1.5em;
		}
		p {
			font-size: 1em;
		}
	}
	.social-navigation {
		margin-bottom: 0;
		padding-top: 1em;
		.site-inner {
			display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  			display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  			display: -ms-flexbox;      /* TWEENER - IE 10 */
  			display: -webkit-flex;     /* NEW - Chrome */
 			display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			justify-content: flex-end;
			-ms-flex-pack: end;
		}
	}
	.container {
		 display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		align-items: flex-start;
		justify-content: center;
		flex-wrap: nowrap;
		section {
			-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
			margin-right: 4%;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	.wp_widget_hoh_box {
		ul {
			li {
				a {
					font-weight: 600;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.site-info {
		p.copyright {
			margin: 0;
		}
	}
	.widget_contact {
		.fa {
			width: 25px;
			&.fa-map-marker {
				float: left;
				height: 40px;
				margin-right: 5px;
			}
		}
	}
}

/* ie10 & ie11 */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.home {
		background: red;
		.primary {
			.site-main {
				section {
					.background {
						.overlay {
							.site-inner {
								.options {
									display: block!important;
									.text {
										width: 100%;
										clear: both;
										float: none;
									}
									.option {
										float: left;
										width: 33.3%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Mobile */

@media (max-width: 1400px) {
	.container, .site-inner {
		max-width: 1200px;
	}
	.site-header {
		.site-header-main {
			.site-inner {
				.site-branding {
					a {
						img {
							height: 110px;
						}
					}
				}
				.next {
					.site-header-menu {
						padding-left: 1em;
					}
				}
			}
		}
	}
	#spacer {
		height: 128px;
	}
}

@media (max-width: 1200px) {
	.site-header {
		.site-header-main {
			.site-inner {
				.next {
					.site-header-menu {
						.main-navigation {
							.menu-main-container {
								.primary-menu {
									li {
										a {
											font-size: 1em;
											&:after {
												top: 0.8125em;
											}
										}
									}
								}
							}	
						}
					}
					.header-right {
						padding-right: 1em;
						span.phone {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
	.home {
		.site-content {
			.content-area {
				.site-main {
					section {
						.background {
							/* remove padding on mobile */
							&.property, &.group, &.retirement {
								.overlay {
									.site-inner {
										.options {
											padding: 0px;
											.option {
												padding: 0px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.site-footer {
		.site-inner {
			padding: 1em;
		}
	}
	.page, .single-services {
		&.home {
			.site-content {
				.content-area {
					padding: 0;
				}
			}
		}
		.site-content {
			.breadcrumbs, .content-area {
				padding: 0px 1em;
			}
		}
		.footer-cta {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}

@media (max-width: 1040px) {
	.site-header {
		.site-header-main {
			.site-inner {
				.next {
					display: block;
					.menu-toggle {
						float: left;
						margin-top: 1.5em;
						margin-left: 1em;
					}
					.site-header-menu {
						left: 0;
						top: 110px;
						width: 100%;
						position: absolute;
						background: #fff;
						padding-left: 0;
						.main-navigation {
							.menu-main-container {
								ul {
									padding: 0px 10px;
									li {
										a {
											padding-left: 10px;
											padding-right: 10px;
										}
										&.menu-item-has-children {
											&:after {
												font-family: "Genericons";
												content: "\f431";
												position: absolute;
												right: 0.625em;
												top: 0.1em;
												font-size: 24px;
											}
											ul.sub-menu {
												padding-bottom: 20px;
												li {
													border: 0px;
													a {
														padding: 5px 0px;
													}
													&:after {
														content: none;
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.header-right {
						.social-navigation {
							display: inline-block;
						}
					}
				}
			}
		}
		&.shrink {
			.site-header-main {
				.site-inner {
					.next {
						.site-header-menu {
							top: 100px;
						}
					}
				}
			}
		}
	}
	.home {
		.site-content {
			.content-area {
				.site-main {
					section {
						.background {
							.overlay {
								.site-inner {
									height: 100%;
									.options {
										padding: 3em 1em;
										.text {
											h2 {
												line-height: 125%;
											}
										}
										.option {
											padding: 0px 10px;
											.thumb {
												width: 125px;
												height: 125px;
											}
										}
									}
								}
							}
							/* remove padding on mobile */
							&.property, &.group, &.retirement {
								.overlay {
									.site-inner {
										.options {
											padding: 0px;
											.option {
												padding: 0px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.intro {
			padding: 3em 1em;
			h2 {
				line-height: 125%;
			}
			.site-inner {
				p.center {
					margin: 1em 0;
				}
			}
		}
		.stats {
			padding: 0;
			.site-inner {
				.row {
					margin: 0;
					flex-direction: column;
					.col {
						margin: 0;
						-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
					}
				}
			}
		}
		.services {
			.site-inner {
				flex-direction: column;
				flex-wrap: wrap;
				.service {
					-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */;
				}
			}
		}
	}
	.testimonials {
		padding: 5em 1em;
		.site-inner {
			height: 100%;
			.bx-wrapper {
				.bx-viewport {
					ul.testimonials-slider {
						margin: 0;
						li {
							padding: 0 60px;
							.open-quote {
								left: 20px;
								font-size: 40px;
							}
							.close-quote {
								//right: 0;
								font-size: 40px;
								right: 40px;
								top: 0;
							}
							.quote {
								.thumb {
									float: none;
									margin: 0 auto 20px auto;
								}
								p {
									font-size: 20px;
								}
								span.author {
									font-size: 20px;
									line-height: 120%;
								}
							}
						}
					}
				}
			}
		}
	}
	.blog, .single, .archive, .search {
		.site-content {
			padding: 1em;
		}
	}
	.site-footer {
		.widget {
			font-size: 1em;
		}
	}
}

@media (max-width: 768px) {
	.row {
		flex-direction: column;
	}
	.site-header {
		.site-header-main {
			.site-inner {
				.site-branding {
					a {
						img {
							height: 80px;
						}
					}
				}
				.next {
					.menu-toggle {
						position: absolute;
						top: 32px;
						right: 110px;
					}
					.site-header-menu {
						top: 80px;
					}
					.header-right {
						span.phone {
							font-size: .8em;
							a {
								display: block;
							}
							span.sep {
								display: none;
							}
						}
						.social-navigation {
							a {
								height: 20px;
								width: 20px;
							}
						}
					}
				}
			}
		}
		&.shrink {
			.site-header-main {
				.site-inner {
					.next {
						.menu-toggle {
							top: 22px;
							//right: 150px;
						}
						.site-header-menu {
							top: 70px;
						}
					}
				}
			}
		}
	}
	#spacer {
		height: 100px;
	}
	.home {
		.site-content {
			.content-area {
				.site-main {
					section {
						.background {
							.overlay {
								.site-inner {
									height: 100%;
									.options {
										flex-direction: column;
										.option {
											padding: 1em;
										}
									}
									.home-form {
										padding: 10px;
										form {
											.dropdown, .rest {
												flex-direction: column;
												.form-left, .form-right {
													padding: 0px 20px;
												}
											}
											.rest {
												.form-right {
													max-width: 70%;
													h3 {
														line-height: 125%;
													}
												}
											}
											.submission {
												img {
													top: 220px;
													max-width: 80px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.intro {
			.site-inner {
				h2 {
					font-size: 1.5em;
				}
			}
		}
	}
	.single {
		.site-content {
			#primary {
				.sidebar {
					width: 100%;
					max-width: 350px;
					padding: 0px;
					margin: 0 auto 3em auto;
				}
			}
		}
	}
	.page, .single-services, .single, .blog {
		.site-content {
			.content-area {
				flex-direction: column;
				.site-main {
					margin-bottom: 2em;
					width: 100%!important;
				}
				.sidebar {
					padding: 0;
					width: 100%!important;
					max-width: 350px;
					margin: 0 auto 3em auto;
				}
			}
		}
		&.home {
			.site-content {
				.content-area {
					.site-main {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.blog {
		.site-content {
			#primary {
				.site-main {
					margin-bottom: 2em;
					article {
						flex-direction: column;
						.article-body {
							padding: 20px 0px;
						}
					}
				}
			}
		}
	}
	.page-template-page-contact {
		.site-content {
			#primary {
				.site-main {
					article {
						.entry-content {
							.wpcf7 {
								form {
									p {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.site-footer {
		.social-navigation {
			padding-top: 0;
			width: 100%;
		}
		.container {
			flex-direction: column;
			section {
				width: 100%;
				margin-right: 0;
			}
		}
		.widget {
			padding: 0;
			margin-bottom: 2em;
		}
	}
}

@media (max-width: 480px) {
	.single-services {
		.site-content {
			.content-area {
				article {
					.entry-content {
						.title {
							flex-direction: column;
							text-align: center;
							img {
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}